body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    transition: 0.3s;
}

nav{
    box-shadow: rgb(29, 29, 29) 0px 1px 50px;
    height: 40px;
    padding: 20px;
    transition: 0.3s;
}
nav h1{
    margin-top: 0;
    margin-left: 10px;
    color: #4f46e5;
    transition: 0.3s;
    
}
.ui-switch {
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  --circle-diameter: 32px;
  --circle-bg: rgb(255, 176, 29);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
    position: absolute;
    right: 40px;
    top: 30px;
}

.ui-switch input {
  display: none;
}

.slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
}

.slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  -o-transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, -webkit-transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
  ;
}

.slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  opacity: 0;
}

.ui-switch input:checked+.slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.ui-switch input:active+.slider .circle::before {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    transition: 0.3s;
}

form {
    background: #ffffff;
    padding: 30px;
    width: 400px;
    border-radius: 14px;
    box-shadow: rgb(29, 29, 29) 0px 1px 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.3s;
    
}

form label {
    font-size: 14px;
    font-weight: 600;
    color: #444;
    transition: 0.3s;
}

form input,
form select {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
    outline: none;
}

form input:focus,
form select:focus {
    border-color: #4f46e5;
}

form button {
    margin-top: 10px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #4f46e5;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background: #3730a3;
}


.dark {
  background:  rgb(3, 8, 17);
  transition: 0.3s;
}

.dark nav {
  background: rgb(3, 8, 17);
  transition: 0.3s;
}

.dark nav h1 {
  color: #ffffff;
  transition: 0.3s;
}

.dark .ui-switch{
    --circle-bg:  rgb(0, 56, 146);;
}

.dark form {
    background-color:  rgb(3, 8, 17);
    transition: 0.3s;
}

.dark form label {
    color: #c2c2c2;
    transition: 0.3s;
}

.quiz-container {
    max-width: 500px;
    margin: 150px auto;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
    box-shadow: rgb(29, 29, 29) 0px 1px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: 0.3s;
}
.dark .quiz-container {
    background-color: rgb(3, 8, 17);
    transition: 0.3s;
}


.question-box p {
    font-size: 20px;
    font-weight: 600;
    color: #222;
    
}
.dark .question-box p {
    color: #fff;
    transition: 0.3s;
}

.options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.3s;
}

.option-btn {
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #4f46e5;
    background: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.option-btn:hover {
    background: #4f46e5;
    color: #fff;
    
}

.dark .option-btn {
    background-color:
     rgb(20, 20, 20);
    transition: 0.3s;
     color: #fff;
}

.dark .option-btn:hover {
    background: #4f46e5;
    color: #fff;
}

.next-btn-container {
    text-align: center;
}

#btn {
    padding: 12px 20px;
    border-radius: 8px;
    background: #4f46e5;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

#btn:disabled {
    background: #999;
    cursor: not-allowed;
}

.dark #btn {
    background: #4f46e5;
    color: #fff;
}

.box{
    box-shadow: rgb(29, 29, 29) 0px 1px 50px;
    width: 360px;
    height: 440px;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
}

.box h2{
    margin-bottom: 0;
    color: #4f46e5;
    font-size: 35px
}

.box p{
    margin-top: 2px;
    font-size: small;
    font-weight: 600;
    color: #919191;
}

.percentage{
    background-color: #4f46e5;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
    margin-top: 20px;
    border-radius: 100px;
    text-align: center;
}

.percentage p{
    color: #fff;
    padding-top: 40px;
    font-size: larger;
}

.mini-box{
    background-color: #dadada;
    border-radius: 12px;
    width: 250px;
    text-align: left;
    padding: 20px;
    margin: 20px 20px 20px 45px;
    transition: 0.3s;
}

.mini-box p{
    color: #000000;
    font-size: 14px;
    transition: 0.3s;

}

.back{
    background-color: #4f46e5;
    color: #ffffff;
    padding: 15px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    

}

.dark .mini-box{
    background-color: rgb(12, 21, 39);;
    transition: 0.3s;
}

.dark .mini-box p{
    color: #c5c2ff;
    transition: 0.3s;
}